<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/notas/edit/{{nota?.id}}" fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="end"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let field of otherFields">
      <ion-label>{{ field }}</ion-label>
      <ion-input [value]="nota[field]" disabled></ion-input>
    </ion-item>
  </ion-list>
  <h3>Docs</h3>
  <p>Aca van las imagenes</p>
  <ion-button color="light" (click)="changeImage()">
    <ion-icon slot="icon-only" name="camera-outline" color="medium"> </ion-icon>
  </ion-button>

</ion-content>
