<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        routerLink="/home/operaciones/detail/{{documentId}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="end">


      <ion-button (click)="addField()">
        <ion-icon slot="icon-only"  name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger"  [disabled]="guardandoCambios"
      (click)="deleteNota(documentData.id, documentData.titulo)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button  (click)="guardarCambios()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="documentForm">

    <ion-item *ngIf="documentForm.controls['titulo']">
      <ion-label position="stacked" class="titulo-label">Título:</ion-label>
      <ion-input type="text" [formControlName]="'titulo'" [readonly]="true"></ion-input>
    </ion-item>

<ng-container *ngFor="let control of documentForm.controls | keyvalue">
  <ion-item *ngIf="control.key !== 'titulo' && control.key !== 'id'">
    <ion-label position="stacked">{{control.key}}</ion-label>
    <ion-input type="text" [formControlName]="control.key"></ion-input>
    <ion-button slot="end" style="--box-shadow: none; color: red; --background: white;" (click)="removeField(control.key)">
      <ion-icon style="color: red;" name="close"></ion-icon>
    </ion-button>
  </ion-item>
</ng-container>

<!-- <ion-button color="primary" (click)="addField()">Add Field</ion-button>
<ion-button type="submit" color="primary">Submit</ion-button> -->
  </form>
</ion-content>


    <!-- <ion-button color="primary" (click)="addField()">Add Field</ion-button> -->
    <!-- <ion-button type="submit" color="primary">Submit</ion-button> -->

