<form [formGroup]="documentForm" (submit)="onSubmit()">
  <ion-item *ngFor="let control of documentForm.controls | keyvalue">
    <ion-label position="stacked">{{control.key}}</ion-label>
    <ion-input type="text" [formControlName]="control.key"></ion-input>
    <ion-button color="danger" (click)="removeField(control.key)">Remove</ion-button>
  </ion-item>
  <ion-button color="primary" (click)="addField()">Add Field</ion-button>
  <ion-button type="submit" color="primary">Submit</ion-button>

</form>