<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ApLog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email no valido</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password Minimo 6 caracteres</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()">Registrarse</ion-button>
  </form>
</ion-content>
